<div id="header-navbar-static-top" class="navbar navbar-static-top">
  <div class="navbar-inner level1-navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <%= content_for :menu %>
          </div>
          <a href="http://www.dtu.dk/english"><%= image_tag 'dtu_rails_common/dtu_text_header.png' %></a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner level2-navbar">
    <div class="header-gradient">
      <div class="container">
        <div class="row logos">
          <div class="col-md-3">
            <%= content_for :logo %>
          </div>

          <div class="col-md-7">
            <%= content_for :masthead %>
          </div>
          <div class="col-md-2">
            <%= link_to content_tag('div', '', :class => 'dtu-logo').html_safe, 'http://www.dtu.dk/english', :class => 'logo pull-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :modal %>
