<div id="header-navbar-static-top" class="navbar navbar-static-top">
  <div class="navbar-inner level1-navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <%= yield :menu %>
          </div>
          <div class="pull-right">
            <%= yield :special_options %>
          </div>
          <a href="http://www.dtu.dk/english"><%= image_tag 'dtu_rails_common/dtu_text_header.png' %></a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-inner level2-navbar">
    <div class="header-gradient">
      <div class="container">
        <div class="row">
          <div class="col-md-3 hidden-sm hidden-xs">
            <%= yield :logo %>
          </div>
          <div class="col-md-8">
            <%= yield :masthead %>
          </div>
          <div class="col-md-1 hidden-sm hidden-xs">
            <%= link_to content_tag('div', '', :class => 'dtu-logo').html_safe, 'http://www.dtu.dk/english', :class => 'logo pull-right' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield :modal %>
